# Ignore local vars
.env

# Docker volumens
./example/basic/example01-n8n-data
./example/basic/example02-n8n-data

./example/database/db-data
./example/database/pgadmin-data
./example/database/example01-n8n-data